<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500;700&family=Open+Sans:wght@500;700&display=swap');

/*
font-family: 'JetBrains Mono', monospace;
font-family: 'Open Sans', sans-serif;
*/
* {
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #2C2B3D;
}

.cabecalho {
=======
body {
    background: #2C2B3D;
    margin: 0;
    min-height: 100vh;

}
.container{
    width: 1280px;
}

main {
    display: flex;
    justify-content: space-between;
    padding-right: 89px;
    padding-bottom: 157px;
    padding-left: 99px;
}

.container {
    width: 1280px;
}


nav {
>>>>>>> fc699e647af45da4952405b8a577c2a93873c1fc
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 71px 98px 101px 99px;
}

.cabecalho-menu ul {
    display: flex;
    gap: 64px;
}

.cabecalho-menu a {
    font-family: 'JetBrains Mono', monospace;
<<<<<<< HEAD
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    font-weight: 500;
}

.conteudo-principal {
    display: flex;
    width: 1092px;
    height: 283px;
    justify-content: space-between;
    padding-right: 89px;
    padding-bottom: 157px;
    padding-left: 99px;
    
=======
    font-weight: medium;
    font-size: 14px;
>>>>>>> fc699e647af45da4952405b8a577c2a93873c1fc
}

.conteudo-principal-titulo {
    color: #ffffff;
    font-family: 'JetBrains Mono';
    font-weight: 700;
    font-style: normal;
    line-height: 40px;
    font-size: 36px;
    text-align: center;
    margin-bottom: 59px;
<<<<<<< HEAD
=======
    margin-top: 0;
>>>>>>> fc699e647af45da4952405b8a577c2a93873c1fc
}

.conteudo-principal-titulo span {
    color: #00bfa6;
}

.conteudo-principal-imagem {
    width: 401px;
    height: 283px;
}

.conteudo-principal-paragrafo{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #7D7987;
}
.text{
    width: 604px;
    height: 168px;
}

.conteudo-principal-paragrafo strong{
    color: #c2c2c2;
}

.conteudo-principal-paragrafo span{
    color: #00bfa6;
    font-weight: 700;
}

.rodape{
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
<<<<<<< HEAD
    color: #ffffff;
    margin: 0 auto;
=======
    margin: 0 auto;
    width: 568px;
>>>>>>> fc699e647af45da4952405b8a577c2a93873c1fc
    border-top: 1px solid #00bfa6;
    width: 568px;
    padding-top: 27px;
}
.cadeado{
    position: fixed;
}